/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* * {
padding: 0;
margin: 0;
} */

/* Typography
--------------------------------------------- */
body { 
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	color: #FAF9F6;
	background-color: #3D3D3D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 1.5625rem;
}

h2 {
	font-size: 1.25rem
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a,
a:visited {
	color: #FAF9F6;
	text-decoration: none;
}

a:hover { 
	color: #E8E8E8;	
}

a:focus,
a:active {
	outline: 1px dotted #E8E8E8;

}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
	background-color: #4B4B4B;
}


/* verificar  */
.site-logo {
	width: 2rem;    
	margin-right: 0.5rem;     
 }


.site-logo img {
	display: block;
}

.site-name {
	display: block;
	font-size: .9375rem; 
}

.site-navigation {
	padding: 0 1rem;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin:0;
	text-align: center;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: .9375rem;
}

/* START -- STYLES FOR MOBILE MENU */
.site-navigation ul {
	display: none;
	position: absolute;
	top: 4.5rem;  /* Matches the height of the .site-header */
	left: 0;
	right: 0;
	background-color: #4B4B4B;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

.menu-toggle svg path {
	fill: #FAF9F6;
}

.site-navigation.toggled ul {
	display: block;
	background-color: #4B4B4B;
}

/* END -- STYLES FOR MOBILE MENU */

@media (min-width: 37.5rem) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		/* START - Remove Mobile Menu Styles */
		position: relative;
		top: 0;
		/* END - Remove Mobile Menu Styles  */
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-logo: 6rem + 1rem + 1rem */
		padding: 0 1rem;
	}

}


@media (min-width: 75em) {

	.site-name,
	.site-navigation a {
		font-size: 1.25rem;
	}


}


/* Main
--------------------------------------------- */

/* Home */

.home-main {
	width: auto;
	height: 75vh;
}

.home-video {
	width: 100%;
	height: 75vh;
	order: -2;
	position: relative;
	object-fit: cover;
	margin: 0;
}

.home-text {
	position: absolute;
	bottom: 6rem;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateY(-50%);
	margin: 0;
	padding-left: 1rem;
	font-weight: 300;
	line-height: 1;
	} 


	.home-main h1 {
		font-size: 2rem;
	}
	
	.home-main p {
		font-size: 1rem;
	}
	

@media (min-width: 50em) {

	.home-main h1 {
		font-size: 4rem;
	}	

	.home-main p {
		font-size: 1.2rem;
	}
}
	

@media (min-width: 112.5em) {


	.home-text {
		padding-left: 5rem;
	}

	.home-main h1 {
		font-size: 6rem;
	}	

	.home-main p {
		font-size: 2rem;
	}

}


/* Explore*/


@media (min-width: 112.5em) {

	h1 {
		font-size: 1.875rem;
	}
	
	h2 {
		font-size: 1.5625rem;
	}

}



/* History*/


.history-main {
	margin: 2rem 2rem 3rem;
}

.history-img {
    display: block;
    width: 95%;
    object-fit: cover;
    margin: 0 auto 3rem;
}

.history-article p {
    display: block;
    width: 100%;
}


/* Galery*/

blockquote {
    width: 80%;
    margin: 3rem auto 2rem;
}

/* Credits*/

.credits-main {
	text-align: center;
	margin: 2rem 0 3rem;
}

.credits-main h1, 
.credits-main h2 {
	font-weight: 500;
}

.credits-main h1 {
	padding-bottom: 1rem;
}

.credits-list {
	padding-bottom: 1.125rem;
}

.credits-list a {
	display:block;
	font-weight: 300;
	padding-bottom: 1rem;
	color: #C2D3DB;
	font-size: .875rem;
}


@media (min-width: 112.5em) {

	.credits-list a {
		font-size: 1rem;
	}

}


/* Footer
--------------------------------------------- */



.site-footer {
	padding: 0.5rem;
	text-align: center;
	line-height: 1;
	font-size: small;
	background-color: #4B4B4B;
}


