/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* * {
padding: 0;
margin: 0;
} */

/* Typography
--------------------------------------------- */
body { 
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #FAF9F6;
	background-color: #3D3D3D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a,
a:visited {
	color: #FAF9F6;
	text-decoration: none;
}

a:hover { 
	color: #D1D1D1;	
}

a:focus,
a:active {
	outline: 1px dotted #D1D1D1;

}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
	background-color: #3D3D3D;
}

.site-logo {
	width: 2rem;    /*verificar */
	margin: 1rem;
}

.site-logo img {
	display: block;
}

.site-navigation {
	padding: 0 1rem;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin:0;
	text-align: center;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
}

/* START -- STYLES FOR MOBILE MENU */
.site-navigation ul {
	display: none;
	position: absolute;
	top: 4.5rem;  /* Matches the height of the .site-header */
	left: 0;
	right: 0;
	background-color: #3D3D3D;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

.menu-toggle svg path {
	fill: #FAF9F6;
}

.site-navigation.toggled ul {
	display: block;
	background-color: #3D3D3D;
}

/* END -- STYLES FOR MOBILE MENU */

@media (min-width: 37.5rem) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		/* START - Remove Mobile Menu Styles */
		position: relative;
		top: 0;
		/* END - Remove Mobile Menu Styles  */
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-logo: 6rem + 1rem + 1rem */
		padding: 0 1rem;
	}

}



/* Main
--------------------------------------------- */
/* Home */

.home-banner {
	position: relative;
}

.home-text {
	position: absolute;
	top: 20%;
	left:0;
	right: 0;
	transform: translateY(-50%);
	margin: 0;
	padding-left: 1rem;
	} 

.home-text h1 {
	font-size: 1rem;

}


/* Footer
--------------------------------------------- */

.site-footer {
	padding: .3125rem;
	text-align: center;
}